{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="py-15 py-xl-20 pb-xl-15">
    <div class="container mt-10">
      <h1>About Wirem</h1>
    </div>
  </section>

  <section class="py-10 py-xl-15 border-top">
    <div class="container">
      <div class="row g-4 justify-content-between">
        <div class="col-md-4">
          <h2 class="fs-5">About</h2>
        </div>
        <div class="col-md-8">
          <p class="text-secondary">Wire M is one stop solution for all your needs like electrical equipment’s, wiring,
            CCTV related works. There are number of players out there who talks big lot of time but don’t provide you
            service with utmost satisfaction. On the other hand, WireM delivers services at your doorstep with maximum
            satisfaction and great assistance even after service. At WireM, our core service is electrical and security
            systems. You will be amazed to find almost every modern solution to your electrical needs. WireM is a
            perfect platform in which you will be provided with all the necessities of everyday life.
            We have been working in the market for the last four years as Secure Electricals. Now, We have come up with
            a rebranded vertical WireM. A new & cutting-edge system for customers to solve every problem they face in
            daily life. We are just a text away. You may contact us through our newly developed application, or just
            call or text us and we will reach to your doorstep at your given time. We are also offering great discounts
            for new customers and we encourage you to try our service once. Our major expertise is a nice modern
            electrical wiring solution for home and commercial spaces. We are also exceptional when it comes to security
            system solutions. We provides you with top-notch CCTV Surveillance and home automation systems. We also have
            exclusive tie-ups with several brands like CP-Plus, Syska, Eveready etc. That enables us to deliver many
            physical items and raw materials at a price you would not have even thought of.
            .</p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-10 py-xl-15 border-top">
    <div class="container">
      <div class="row g-4 justify-content-between">
        <div class="col-md-4">
          <h2 class="fs-5">Privacy</h2>
        </div>
        <div class="col-md-8">
          <p class="text-secondary"> A detailed document on your website on information of cash collection and usage,
            account information, cookies information, enforcement, transfer of information as and when required, links,
            security concerns of the user and grievance redressal -
            <a href="docx/Sample_Privacy_Policy (1).docx">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-10 py-xl-15 border-top">
    <div class="container">
      <div class="row g-4 justify-content-between">
        <div class="col-md-4">
          <h2 class="fs-5">Legal</h2>
        </div>
        <div class="col-md-8">
          <p class="text-secondary"> the legal agreements between a service provider and a person who wants to use that
            service , <a href="docx/Sample_Terms_and_Conditions.docx">Terms and Condition</a>
            ,
            <a href="docx/Sample_Refund_and_Cancellation (1).docx">Refund and Cancellation Policy</a></span>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
