{% extends 'storage_area_base_page.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% block content %}
    <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    <h3>Create Storage Area</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button type="submit" class="btn btn-success">{% trans 'Create' %}</button>
                    </form>
                  </div>
                <!-- /.form-group -->
              </div>
            </div>
      </div>

      <div class="page-header small">
          <div class="row">
              <div class="col-md-12">
                  <br/><br/>
                <h3 class="h3-heading" id="page-heading" style="background-color: #faf8f7">Your Storage Areas</h3>
              </div>
          </div>
      </div>

    <!-- /.content-header -->

    <!-- Main content -->

      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Storage Areas List</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap" id="items-display-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                        <th>Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for eacharea in storage_areas %}
                        <tr>
                            <td>
                                <a href="/recipe/storagearea/edit/{{ eacharea.id }}">{{ eacharea.name }}</a>
                            </td>
                            <td>
                                {{ eacharea.description }}
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
      </div>
{% endblock %}