<!DOCTYPE html>
<html lang="en">
<head>
    {% load i18n %}
    {% load crispy_forms_filters %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.css">
  <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911" rel="stylesheet">

  <title>{% block title %}Recipe Cost Calculator{% endblock %}</title>
</head>
<body>
    {% if expires %}
        <p> <span style="color: crimson"> Pages Is Expired</span></p>
    {% else %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10" style="padding-top: 100px">
          <h2>Reset Your Password</h2>
            <form method="post">
                {% if success %}
                    <p><span style="color: seagreen">{{success}} go to <a href="/" style="text-decoration: none">main page</a></span></p>
                {% endif %}
                {% if fail %}
                    <p><span style="color: crimson">{{fail}}</span></p>
                {% endif %}
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-success">{% trans 'Update Password' %}</button>
            </form>
        </div>
      </div>
    </div>
    {% endif %}
</body>
</html>