{% extends 'personal_settings.html' %}

{% load i18n %}
{% load crispy_forms_filters %}
<style>
    .alert-info {
    background-color: #01599d;
    color: #e2f2fd;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert {
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid transparent;
    border-radius: 4px;
}
</style>
{% block content %}
{% if success %}
    <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <i class="fa fa-info-circle" aria-hidden="true"></i> {{ success }}
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">{% trans 'Save changes' %}</button>
</form>
{% endblock %}
